@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Acme&family=Josefin+Sans:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,300;0,500;1,200;1,600&family=Lobster&family=Rubik+Iso&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Kanit;
}
body{
  background-color: grey;
}
form input{
  width: 100%;
  border: 1px solid rgb(189, 188, 188);
  padding: 10px;
  box-shadow: 10px 3px 16px rgb(189, 188, 188);
}
nav {
  box-shadow: 0px 3px 10px rgb(29, 20, 20);
}
ul li:hover {
  color: rgb(34, 17, 17);
}
/* home */
